<app-navbar></app-navbar>
<form>
  <h2>Dodaj let</h2>

  <div>
    <label for="polazak">Polazak:</label>
    <input name="polazak" id="polazak" #newpolazak>
  </div>
  <div>
    <label for="dolazal">Dolazak:</label>
    <input name="dolazal" id="dolazak" #newdolazak>
  </div>
  <div>
    <label for="vremePoletanja">Vreme poletanja:</label>
    <input name="vremePoletanja" id="vremePoletanja" #newvremePoletanja>
  </div>
  <button (click)="addFlight(newpolazak, newdolazak, newvremePoletanja)">
    Submit 
  </button>
</form>
  


<div>
  <table id="flights">
    <thead>
        <th>Polazak</th>
        <th>Dolazak</th>
        <th>Vreme poletanja</th>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
          <td> {{flight.polazak}} </td>
          <td> {{flight.dolazak}} </td>
          <td> {{flight.vremePoletanja}} </td>
      </tr>
    </tbody>
</table>
  
</div>

